<img src="../../assets/profile.jpg" class="profile" alt="A photo of Curtis in front of a sound mixing board">
<span>Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Voluptatum, quo. Perferendis iste tenetur architecto,
  repellat vitae, magnam ipsa atque veniam pariatur voluptas harum? Ratione sequi harum amet libero iure
  officiis.</span>
<span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos facilis voluptate dolorum! Modi
  ipsam optio itaque iste laboriosam facilis dolorum eius. Nostrum, dignissimos veniam labore odio facilis neque
  vero.</span>
