<img src="../../assets/profile.jpg" class="profile" alt="A photo of Curtis in front of a sound mixing board">
<h1 fxFlexAlign="start">Bio</h1>
<div class="bio">
  <span>Hello! My name is <strong>Curtis</strong>, I'm a software developer based out of Calgary, Alberta.</span>
  <br><br>
  <span>I am a full-stack developer that enjoys working on elegant, reactive applications. I've previously worked on
    projects with <a href="https://www.caterpillar.com/">Caterpillar Inc.</a>, as well as in a small-team environment with
    software contracting company called <a href="https://www.atrematech.com/">Atrema Technologies.</a></span>
  <br><br>
  <span>Outside of development, I'm a former campus and community radio show host (go support <a
      href="https://cjsw.com/">CJSW 90.9FM</a>) and non-profit program facilitator. I find that my experience in
    facilitation lends itself to my current line of work more often that I would have thought; breaking
    down complex topics to clients helps devs advocate for what they need.</span>
</div>
